# Dependency directories
node_modules/

# Parcel cache (can exceed 100MB easily)
.parcel-cache/

# Build outputs
dist/
build/

# Environment files
.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/
*.swp

# Lint and coverage
.eslintcache
coverage/

# Production/static cache
.cache/
.next/
out/

# Others
*.tgz
*.zip
*.tar
*.gz
*.mdb  # Including rogue large database files like data.mdb
