* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.magnifying {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #222831;
  height: 100vh;
  /* width: 10PX; */
  font-family: sans-serif;
  text-align: center;
  color: #fff;
}
